[submodule "NAJEM-BRAHIM/Global-rim-fish"]
	path = NAJEM-BRAHIM/Global-rim-fish
	url = git@github.com:NAJEM-BRAHIM/Global-rim-fish.git
	branch = staging

[submodule "NAJEM-BRAHIM/cumarex"]
	path = NAJEM-BRAHIM/cumarex
	url = git@github.com:NAJEM-BRAHIM/cumarex.git
	branch = paie
